<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>s000baer_cell-yanjing_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,282},{9,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,7}}</string>
        <key>sourceSize</key>
        <string>{9,7}</string>
      </dict>
      <key>s000baer_cell-quweibiaoqing2.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,282},{11,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,15}}</string>
        <key>sourceSize</key>
        <string>{11,15}</string>
      </dict>
      <key>s000baer_cell-yanjing_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,279},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,16}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>s000baer_cell-texiao.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,126},{50,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,50}}</string>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
      <key>s000baer_cell-youshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,66},{60,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,63}}</string>
        <key>sourceSize</key>
        <string>{60,63}</string>
      </dict>
      <key>s000baer_cell-yougebo.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{68,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,64}}</string>
        <key>sourceSize</key>
        <string>{68,64}</string>
      </dict>
      <key>s000baer_cell-youipifeng.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,131},{52,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,66}}</string>
        <key>sourceSize</key>
        <string>{52,66}</string>
      </dict>
      <key>s000baer_cell-waiyiling.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,282},{46,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,28}}</string>
        <key>sourceSize</key>
        <string>{46,28}</string>
      </dict>
      <key>s000baer_cell-toushi.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,222},{36,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,24}}</string>
        <key>sourceSize</key>
        <string>{36,24}</string>
      </dict>
      <key>s000baer_cell-toufa1.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,199},{56,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,58}}</string>
        <key>sourceSize</key>
        <string>{56,58}</string>
      </dict>
      <key>s000baer_cell-toufa.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,178},{41,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,53}}</string>
        <key>sourceSize</key>
        <string>{41,53}</string>
      </dict>
      <key>s000baer_cell-meimao.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,283},{12,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,9}}</string>
        <key>sourceSize</key>
        <string>{12,9}</string>
      </dict>
      <key>s000baer_cell-yanjing_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,261},{19,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,16}}</string>
        <key>sourceSize</key>
        <string>{19,16}</string>
      </dict>
      <key>s000baer_cell-yanjing_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,260},{14,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,21}}</string>
        <key>sourceSize</key>
        <string>{14,21}</string>
      </dict>
      <key>s000baer_cell-yanjing_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,233},{14,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,25}}</string>
        <key>sourceSize</key>
        <string>{14,25}</string>
      </dict>
      <key>s000baer_cell-lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{122,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,124}}</string>
        <key>sourceSize</key>
        <string>{122,124}</string>
      </dict>
      <key>s000baer_cell-piaodai8.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,280},{70,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,50}}</string>
        <key>sourceSize</key>
        <string>{70,50}</string>
      </dict>
      <key>s000baer_cell-piaodai7.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,228},{70,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,50}}</string>
        <key>sourceSize</key>
        <string>{70,50}</string>
      </dict>
      <key>s000baer_cell-piaodai6.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,72},{70,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,50}}</string>
        <key>sourceSize</key>
        <string>{70,50}</string>
      </dict>
      <key>s000baer_cell-piaodai5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,178},{70,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,50}}</string>
        <key>sourceSize</key>
        <string>{70,50}</string>
      </dict>
      <key>s000baer_cell-piaodai4.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,124},{70,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,50}}</string>
        <key>sourceSize</key>
        <string>{70,50}</string>
      </dict>
      <key>s000baer_cell-piaodai3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{70,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,50}}</string>
        <key>sourceSize</key>
        <string>{70,50}</string>
      </dict>
      <key>s000baer_cell-piaodai2.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,176},{70,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,50}}</string>
        <key>sourceSize</key>
        <string>{70,50}</string>
      </dict>
      <key>s000baer_cell-piaodai1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,230},{70,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,50}}</string>
        <key>sourceSize</key>
        <string>{70,50}</string>
      </dict>
      <key>s000baer_cell-youxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,119},{25,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,34}}</string>
        <key>sourceSize</key>
        <string>{25,34}</string>
      </dict>
      <key>s000baer_cell-youdatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,42},{26,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,36}}</string>
        <key>sourceSize</key>
        <string>{26,36}</string>
      </dict>
      <key>s000baer_cell-zuoxiaotui.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,155},{23,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,31}}</string>
        <key>sourceSize</key>
        <string>{23,31}</string>
      </dict>
      <key>s000baer_cell-zuodatui.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,80},{25,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,37}}</string>
        <key>sourceSize</key>
        <string>{25,37}</string>
      </dict>
      <key>s000baer_cell-xiong.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,0},{28,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,40}}</string>
        <key>sourceSize</key>
        <string>{28,40}</string>
      </dict>
      <key>s000baer_cell-tunbu.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,188},{35,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,32}}</string>
        <key>sourceSize</key>
        <string>{35,32}</string>
      </dict>
      <key>s000baer_cell-zuopifeng.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{62,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,70}}</string>
        <key>sourceSize</key>
        <string>{62,70}</string>
      </dict>
      <key>s000baer_cell-neiyiling.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,312},{71,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,46}}</string>
        <key>sourceSize</key>
        <string>{71,46}</string>
      </dict>
      <key>s000baer_cell-zuoshou.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,248},{44,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,46}}</string>
        <key>sourceSize</key>
        <string>{44,46}</string>
      </dict>
      <key>s000baer_cell-wuqi.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,0},{96,213}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,213}}</string>
        <key>sourceSize</key>
        <string>{96,213}</string>
      </dict>
      <key>s000baer_cell-zuoshoubi.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,259},{53,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,52}}</string>
        <key>sourceSize</key>
        <string>{53,52}</string>
      </dict>
      <key>s000baer_cell-zuogebo.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,233},{23,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,26}}</string>
        <key>sourceSize</key>
        <string>{23,26}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>s000baer.png</string>
      <key>textureFileName</key>
      <string>s000baer.png</string>
      <key>size</key>
      <string>{291,360}</string>
    </dict>
  </dict>
</plist>